.about-project__title {
    margin-top: 80px;
    margin-bottom: 24px;
}

.about-project__statistic .row {
    margin: 0 -8px;
}
  
.about-project__statistic .row > div {
    padding: 0 8px;
}

.about-project__sector {
    margin-bottom: 32px;
}

.about-project__number {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 140%;
    color: #3275EE;
    margin-bottom: 8px;
}

.about-project__text {
    font-size: 1.4rem;
    line-height: 140%;
}