.advantages__title {
    margin-top: 80px;
    margin-bottom: 24px;
}

.advantages__num {
    font-size: 9.6rem;
    font-weight: 500;
    line-height: 125%;
    color: #3275EE;
}

.advantages__description {
    font-size: 2.2rem;
    margin-top: 4px;
    margin-bottom: 24px;
}