.basket-card{
  border: 1px solid #DFDEE2;
  border-radius: 8px;
  overflow: hidden;
}

.basket-card__head,
.basket-card__footer{
  background-color: #F2F2F2;
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
}

.basket-card__footer{
  justify-content: center;
  padding: 13px 10px;
}

.basket-card__row{
  display: flex;

  & + & {
    border-top: 1px solid #DFDEE2;
  }
}

.basket-card__col{
  width: 100%;
  padding: 12px 16px;

  & + & {
    border-left: 1px solid #DFDEE2;
  }
}