@import '../abstract/variables';
.base-input {
    height: 40px;
    background: #F2F2F2;
    border-radius: 8px;
    font-size: 16px;
    line-height: 26px;
    padding: 7px 16px;
    color: rgba(0, 29, 58, 0.9);
    border: 1px solid #F2F2F2;
     ::placeholder {
        color: #646464;
    }
    &:focus {
        outline: none;
        box-shadow: none;
        background: #fff;
        border-color: #3275EE;
    }

    &:disabled, 
    &[readonly] {
        background: #F2F2F2;
    }
}