.personal-information-h4 {
    margin-top: 8px;
    margin-bottom: 16px;
    line-height: 140%;
}

.personal-information-input {
    margin-bottom: 24px;
}

.personal-information__btn {
    padding: 0 16px;
    margin-bottom: 32px;
}

.btn-save-pi {
    width: 100%;
}