.register-nav {
    border-bottom: none;
    justify-content: center;
}

.register-nav .nav-link {
    font-size: 16px;
    padding: 0 11px 8px;
    border: none;
    border-bottom: 2px solid #F5F5F5;
    margin-bottom: 0;
    color: #001D3AE5;
}

.register-nav .nav-link.active {
    border-bottom: 2px solid #3275EE;
}

input[type="checkbox"] + .registration-conditions {
    font-size: 14px;

    &::before,
    &::after {
        top: 3px;
    }
}


@media (max-width: 370px) {
    .register-nav .nav-link {
        font-size: 14px;
        padding: 0 8px 8px;
    }
}
