@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
//font-family: 'Rubik', sans-serif;

html {
   font-size: 16px;
}

.content{
   padding-bottom: 56px;
   position: relative;
}

  
body {
   font-family: 'Rubik', sans-serif;
   font-weight: 400;
   color: #001D3A;
   overflow-x: hidden;
}

