@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
//font-family: 'Rubik', sans-serif;

  
body {
   font-family: 'Rubik', sans-serif;
   font-weight: 400;
   color: #001D3A;
}

