@import "../abstract/variables";

.select2-container {
  .base-select {
    height: 52px;

    &.select--sm {
      height: 38px;
    }
  }

}

.select2-container--default {
  .base-select {
    border-radius: 8px !important;
    background: #F2F2F2;
    border-color: #F2F2F2;
    overflow: hidden;
  }

  .select-transparent {
    border-radius: 8px;
    border: 1px solid #DFDEE2;
    background: #fff;
    overflow: hidden;
    position: relative;
    height: 44px;
  }

  .select-unborder {
    border-radius: 8px;
    border: 1px solid transparent;
    background: #fff;
    overflow: hidden;
    position: relative;
    height: 44px;


  }
}

.select2-container--default.select2-container--open {
  .base-select{
    background: #fff;
    border-color: #3275EE;
  }
}


.select2-container--default .base-select {
  &.select--sm{
    .select2-selection__rendered {
      height: 38px;
      padding: 6px 10px 5px;
      background: #F2F2F2;
    }
  }

  .select2-selection__rendered {
    height: 50px;
    padding: 14px 16px 5px;
    background: #F2F2F2;
  }
}

.select2-container--default .select-transparent .select2-selection__rendered {
  height: 40px;
  line-height: 40px;
  padding-right: 24px;
  font-size: 16px;
  padding-left: 16px;
}

.select2-container--default .select-unborder .select2-selection__rendered {
  height: 40px;
  line-height: 40px;
  padding-right: 24px;
  font-size: 16px;
  padding-left: 16px;
}

.select2-container--default.select2-container--open .base-select .select2-selection__rendered{
  background: #fff;
}

.select2-container--default .base-select .select2-selection__arrow,
.select2-container--default .select-unborder .select2-selection__arrow,
.select2-container--default .select-transparent .select2-selection__arrow {
  width: 12px;
  height: 7px;
  top: 50%;
  right: 18px;
  margin-top: -3px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/icons/icon-down.svg);
}

.select2-container--default .select-transparent .select2-selection__arrow{
  right: 10px;
}

.select2-container--default .base-select.select--sm .select2-selection__arrow{
  width: 10px;
  right: 13px;
}

.select2-container--default .base-select .select2-selection__arrow b,
.select2-container--default .select-unborder .select2-selection__arrow b,
.select2-container--default .select-transparent .select2-selection__arrow b {
  display: none;
}

.select2-container--default.select2-container--open .base-select .select2-selection__arrow{
  transform: rotateZ(180deg);
}

.select2-container--default.select2-container--open .select-transparent,
.select2-container--default.select2-container--open .select-unborder{
  border-top-color: #DFDEE2;
  border-left-color: #DFDEE2;
  border-right-color: #DFDEE2;
  border-bottom-color: transparent;

  .select2-selection__arrow {
    transform: rotateZ(180deg);
  }
}

.base-select-dropdown {
  margin-top: 8px;
  overflow: hidden;
}
.select-transparent-dropdown {
  min-width: 232px!important;
  overflow: hidden;
  padding: 0;
  border: 1px solid #DFDEE2;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.select2-container--open .base-select-dropdown.select2-dropdown--below {
  border-top: 1px solid #DFDEE2;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.base-select-dropdown {
  border: 1px solid #DFDEE2;
}

.select2-search--dropdown{
  display: none;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 300px;
  padding: 0 16px;
}

.base-select-dropdown .select2-results__option {
  padding: 8px 0;
  border-bottom: 1px solid #DFDEE2;

  &:last-child {
    border: none;
  }
}

.base-select-dropdown .select2-results__option--selected {
  background: #fff;
  color: #3275EE;
}

.select2-container--default .base-select-dropdown .select2-results__option--highlighted.select2-results__option--selectable {
  background: #fff;
  color: #3275EE;

  &:hover {
    background: #F2F2F2;
    color: #3275EE;
  }
}

.select-transparent-dropdown .select2-results__option {
  padding: 8px 0px;
  margin: 0;
  font-size: 16px;
  line-height: 160%;
  border-top: 1px solid #DFDEE2;

}


.select2-container--default .select-transparent-dropdown .select2-results__option--highlighted.select2-results__option--selectable,
.select2-container--default .select-transparent-dropdown .select2-results__option--selected {
  background: #fff;
  color: $blue;

  &:hover {
    background: #fff;
    color: $blue;
  }
}


.select2-container--default.select2-container--open .select-transparent .select2-selection__rendered {
  background: #fff;
  border-bottom-left-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

