.ui {
  max-width: 1200px;
  margin: 0 auto;
  .row {
    margin-bottom: 15px;
    margin-right: 0;
    margin-left: 0;
  }

}

.form-group {
  margin-bottom: 24px;
  border-bottom: 1px dashed #ddd;
  padding: 20px 0;
}


.form-group__row {
  display: flex;
  margin: 0 -15px;
  width: auto;
}

.form-group__column {
  padding: 0 15px
}

.form-group__column--2 {
  width: 50%;
}