// COLOR
$blue: #3275EE;
$yellow: #FCF29C;
$text_color: #001D3A;
$grey: #646464;
//$green: #44C325;
$green: #07D61C;
$red: #FF3D3D;
$violet: #CCDCF7;

// FONT FAMILY
$font-weight-normal: 400;         // Regular (normal)
$font-weight-medium: 500;         // Medium

// MEDIA
$mobile_xsm: 375;
$mobile_sm: 480;
$mobile_md: 640;
$mobile_lg: 768;
$tablet: 991;
$tablet_lg: 1024;

