
.modal-filter{
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding: 56px 0 63px;
  position: relative;
}

.modal-filter__head{
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #DFDEE2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.modal-filter__footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #DFDEE2;
}

.modal-filter__content{
  display: block;
  overflow-y: auto;
}

.modal-filter__body{
  height: 100%;
  overflow-y: auto;
}





.mfp-move-from-top {

  .mfp-container{
    padding-right: 0;
    padding-left: 0;
  }

  .mfp-close{
    font-size: 0;
    background-image: url(../img/icons/close.svg);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    right: 2px;
    top: 5px;
  }

  /* start state */
  .mfp-with-anim {
    opacity: 0.2;
    transform: translateY(100%);
    transition: all .5s;
  }

  &.mfp-bg {
    opacity: 0;
    transition: all .5s;
  }

  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: translateY(0);
    }
    &.mfp-bg {
      opacity: 0.3;
    }
  }

  /* animate out */
  &.mfp-removing {

    .mfp-with-anim {
      transform: translateY(100%);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0.2;
    }

  }

}

.filter-collapse{
  border-bottom: 1px solid #DFDEE2;

  &:last-of-type{
    border-bottom: none;
  }
}

.filter-collapse__body {
  padding: 4px 0 16px;
}

.filter-collapse__head{
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

.filter-collapse__arrow{
  transition: all .1s;

  .collapsed & {
    transform: rotate(180deg);
  }
}

.filter-collapse__row{
  & + & {
    margin-top: 12px;
  }

  input[type="checkbox"] + span{
    font-size: 16px;
  }
}

.filter-collapse__box{
  display: none;

  &.show {
    display: block;
  }
}