
.mfp-move-from-top {



  .mfp-close{
    font-size: 0;
    background-image: url(../img/icons/close.svg);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    right: 2px;
    top: 5px;
  }

  /* start state */
  .mfp-with-anim {
    opacity: 0.2;
    transform: translateY(100%);
    transition: all .5s;
  }

  &.mfp-bg {
    opacity: 0;
    transition: all .5s;
  }

  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: translateY(0);
    }
    &.mfp-bg {
      opacity: 0.3;
    }
  }

  /* animate out */
  &.mfp-removing {

    .mfp-with-anim {
      transform: translateY(100%);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0.2;
    }

  }

}

.filter-collapse{
  border-bottom: 1px solid #DFDEE2;
}

.filter-collapse__body {
  padding: 4px 0 16px;
}

.filter-collapse__head{
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

.filter-collapse__arrow{
  transition: all .1s;

  .collapsed & {
    transform: rotate(180deg);
  }
}

.filter-collapse__row{
  & + & {
    margin-top: 12px;
  }

  input[type="checkbox"] + span{
    font-size: 16px;
  }

  &:nth-child(n + 5){
    display: none;

    .show-all & {
      display: block;
    }
  }
}

.filter-collapse__toggler{
  display: block;
  margin-top: 12px;

  &-show {
    display: inline;
  }

  &-hide {
    display: none;
  }

  .show-all & {
    &-show {
      display: none;
    }

    &-hide {
      display: inline;
    }

    img {
      transform: rotate(180deg);
    }
  }
}


.filter-collapse__box{
  display: none;

  &.show {
    display: block;
  }
}