/* BS Abstract */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

/*BS reboot*/
@import "~bootstrap/scss/reboot";

/* BS grid */
@import "~bootstrap/scss/grid";
@import "~bootstrap/dist/css/bootstrap-grid.css";

//abstract
@import "abstract/mixins";
@import "abstract/variables";

/*BS components*/ 
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/nav";

// plugins
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~select2/src/scss/core.scss";

/*base custom*/ 
@import "base/fonts";
@import "base/header";
@import "base/typography";
@import "base/inputs";
@import "base/buttons";
@import "base/pagination";
@import "base/breadcrumbs";
@import "base/footer-menu";
@import "base/select";

/*custom components*/
@import "components/grid";
@import "components/loader";
@import "components/main-slider";
@import "components/status";
@import "components/capabilities";
@import "components/statistic";
@import "components/product-catalog";
@import "components/about-project";
@import "components/tariff";
@import "components/marketing-banner";
@import "components/advantages";
@import "components/faq";
@import "components/announcement-card";
@import "components/proposal-card";
@import "components/tender-card";
@import "components/sliders";
@import "components/info-block";
@import "components/table";
@import "components/phone-btn";
@import "components/ceni-card";
@import "components/catalog-link";
@import "components/sort";
@import "components/tabs";
@import "components/lk.scss";
@import "components/personal-information";
@import "components/dropzona";
@import "components/location-checkbox";
@import "components/about-us";
@import "components/services";
@import "components/directory-pipe";
@import "components/advertising";
@import "components/banner-advertising";
@import "components/basket-card";

@import "components/modals/base-mobal";
@import "components/modals/modal-filter";
@import "components/modals/header-menu";
@import "components/modals/announcement-modal";

// pages
@import "pages/ui";
@import "pages/ceni";
@import "pages/create-tender"

