/* BS Abstract */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

/*BS reboot*/
@import "~bootstrap/scss/reboot";

/* BS grid */
@import "~bootstrap/scss/grid";
//@import "~bootstrap/dist/css/bootstrap-grid.css";

//abstract
@import "abstract/mixins";
@import "abstract/variables";

/*BS components*/ 
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/nav";

// plugins
@import "~slick-carousel/slick/slick";

/*base custom*/ 
@import "pages/ui";
@import "base/fonts";
@import "base/typography";
@import "base/inputs";
@import "base/buttons";
@import "base/pagination";
@import "base/breadcrumbs";

/*custom components*/
@import "components/grid"; 
@import "components/loader";
@import "components/status";

